.wrapper
{
    display: grid;
    grid-template-areas: "logo slogan"
                         "aside main";
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    
    margin: auto;
    width: 1000px;
    
    background-color: white;
    
}

.body
{
    color: tan;
}

.box3
{
    width: 300px;
}

.content-main
{
    grid-area: main;
    padding-left: 50px;
}

.sideTitle
{
    font-size: 20px;
}

.logo{
    grid-area: logo;
}

.siteSlogan{
    grid-area: slogan;
}

.sideLinks{
    grid-area: aside;
}
